[Unit]
Description=Dns NAT proxy
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/root/dnsnatproxy
ExecStart=/usr/bin/python3 /root/dnsnatproxy/dnsnatproxy.py

[Install]
WantedBy=multi-user.target
